/* STYLES FOR THE ABOUT PAGE */

h1 {
    margin-left: 8%;
}

.column-2 {
    display: flex;
    margin-left:8%;
}
.flex-column {
    display: flex;
    column-gap: 2em;
    width: 50%;
    height: fit-content;
    margin-left: 3em;
    margin-right: 15%;
    flex-direction: column;
}

.column-2 img {
    width: 40%;
    margin-right: 2em;
}