/* STYLES FOR THE COOKING INSTRUCTION PAGE */

h1 {
    font-size: 50px;
}
.innerPage {
    margin-left: 8%;
    margin-right: 8%;
}

/* SLIDER STYLES */
.imgDisplay {
    display: flex;
}

.imgBox {
    flex: 1;
    margin-right: 1em;
    padding: 1em;
    
}
/*.imgBox:nth-child(1){
    margin-left: 0px;
    padding-left: 0px;
}
.imgBox:last-child {
    margin-right: 0px;
    padding-right: 0px;
}*/
.imgBox img {
    width: 100%;
}
.imgBox p {
    display: flex;
    justify-content: center;
}

#tote {
    width: 50%;
    padding-left: 1em;
}