/* Common styles, like the nav bar, footer, and spacer element */

@font-face {
    font-family: 'BeVietnamBold';
    src: url('Fonts/BeVietnamPro-Light.ttf');
  }
  @font-face {
    font-family: 'BeVietnamLight';
    src: url('Fonts/BeVietnamPro-Light.ttf');
  }
html, #submit, .emailBox, .msgBox {
    font-family: 'BeVietnamBold', sans-serif;
}
p, #submit, .emailBox, .msgBox {
    font-family: 'BeVietnamLight' !important;
}

/* RESET */
html, body {
    margin:0;
    padding:0;
}

.spacer {
    height: 2em;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    margin:10px;

    border-top: 5px solid #94A67A;
    border-bottom: 5px solid #B45326;
}
.navbar a {
    flex-basis:15%
}
.logo {
    width: 100%;
}
.navbar ul {
    flex-basis:85%;
}

.menu {
    display: flex;
    gap: 3em;
    font-size: 18px;
    list-style-type: none;
    padding-right:3%;
    justify-content: flex-end;
}

.menu a {
    color: black;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.menu a:hover {
    color: #B45326;
    opacity: 1;
}

.footer {
    background-color: #94A67A;
    display: flex;
    column-gap: 2em;
    align-items: center;
    justify-content: center;
}