/* Home Page Styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 10px;*/
    margin:10px;

    border-top: 5px solid #94A67A;
    border-bottom: 5px solid #B45326;
}

.logo {
    width: 15%;
}

.menu {
    display: flex;
    gap: 3em;
    font-size: 18px;
    list-style-type: none;
    padding-right:3%;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: green;
}



.hero {
    width: 100%;
    max-width: 100%;
}

body {
    display: block;
    margin: 0px;
    background-color: #FFFDFD;
}

.column-2 {
    display: flex;
    margin-left:100px;
}
.flex-column {
    display: flex;
}

.flex-column div {
    width: 50%;
    height: fit-content;
    margin-left: 1em;
    margin-right: 1em;
}
.flex-column img {
    width: 30%;
    height: fit-content;
    margin-left: 2em;
    margin-right: 1em;
}