/* Home Page Styles */

.hero {
    width: 100vw;
    height: 70vh;
    max-width: 100%;
    position: relative;
    background-size: cover;
    background-position: center top;
    background-image: url('Images/homeHero.jpg'); 
}

.overlayBack {
    position: absolute;
    height: 100%;
    width: 100%;

    
    background: linear-gradient(90deg, rgba(46, 51, 59, 100), rgba(0,0,0,0));
    mix-blend-mode: multiply;

    display: flex;
}
.overlayWords {
    position: absolute;
    margin-left: 4em;

    color:white;
}
.overlayWords h1 {
    font-size: 5em;
}
.overlayWords h2 {
    font-size: 2em;
}

body {
    display: block;
    margin: 0px;
    background-color: #FFFDFD;
}

.column-2 {
    display: flex;
    margin-left:100px;
}
.flex-column {
    display: flex;
    column-gap: 2em;
    width: 50%;
    height: fit-content;
    margin-left: 3em;
    margin-right: 3em;
}

.column-2 img {
    width: 25em;
    margin-left: 2em;
    margin-right: 2em;
}