/* STYLES FOR THE REVIEWS PAGE */

/* HEADER */
h1 {
    font-weight: bolder;
    margin-left: 3em;

}

/* ALL REVIEWS STYLE */
.review {
    position: relative;
    display: inline-block;
}
.img {
    position: relative;
    width: 30%;
}
.text {
    background-color: #94A67A;
    padding: 2em;
}

/* REVIEW MARTHA MONK */
#martha-monk .img {
    left: 5%;
    margin-top: 2em;
    z-index: 1;
}
#martha-monk .text {
    padding-left: 5em;
    float: right;
    top: 10%;
    width: 60%;   
}

/* REVIEW SHERRY DANIEL */
#sherry-daniel .img {
    float: right;
    right: 5%;
}

#sherry-daniel .text {
    margin-right: 35%;
    padding-left: 7%;
    margin-top: 7em;
}

/* REVIEW JONNI MILLER */
#jonni-miller .img {
    left: 5%;
}
#jonni-miller .text {
    padding-left: 5em;
    float: right;
    margin-top: 4em;
    width: 60%;   
}
